:root {
    --border-boxshadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
    --border-color:#dedede;
    --main-transition: 0.3s ease-in-out;
    --text-decoration: none;
    --text-transform: uppercase;
  } 

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
}

/* HEADER IMG OCH TEXT*/
header{
    background-image: url("https://cdn.pixabay.com/photo/2017/01/02/18/58/accra-1947665_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.navbar-main{
    grid-column: 1/4;
    width: 350px;
    margin: 10px;
    word-spacing: 30px;
}
.navbar-admin{
    grid-column: 12/-1;
    margin: 10px;

}

.navbar-main a, .navbar-admin a {
    color: white;
    font-size: 25px;
    text-decoration: var(--text-decoration);
    transition: var(--main-transition);   
}

.navbar-main a:hover, .navbar-admin a:hover {
    color: rgb(20, 182, 20);
    transition: var(--main-transition);
}

#logo-image{
margin: 50px 0;
}

#logo-image img{
    height: 250px;
    width: 600px;
    }

    #logo-image-post img{
        margin-top: 20px;
        height: 150px;
        width: 400px;
        }

/* BLOG CONTENT INDEX HTML*/

.top-bottom{
    float: right;
    font-size: 12px;
    text-transform: var(--text-transform);
}
hr {
    background: var(--border-color);
    border:0;
    height:1px;
}

.one-frame{
    max-width:800px;
    margin:25px auto;
    padding:25px;
    border:1px solid var(--border-color);
    -webkit-box-shadow: var(--border-boxshadow);
    -moz-box-shadow: var(--border-boxshadow);
    box-shadow: var(--border-boxshadow);
}
#one-post-headline{
    min-height: 50px;
}

#one-blog-post{
    max-width:800px;
    margin:25px auto;
    padding:25px;
    border:1px solid var(--border-color);
    -webkit-box-shadow: var(--border-boxshadow);
    -moz-box-shadow: var(--border-boxshadow);
    box-shadow: var(--border-boxshadow);
    
}
h1{
    color: #363636;
    font-weight: bold;
    font-size:xx-large;
    
}
a{
    color: rgb(6, 153, 37);
    font-style: italic;
}

#one-post-footer{
    padding: 20px;
}

.blog-img img{
    height: 250px;
    background-size: contain;
    margin-top: 2%;
    padding: 0 150px;
}

.admin a{
        color:rgb(238, 255, 0);
        background:rgb(119, 2, 2);
        padding:10px 20px 5px;
        font-size:16px;
        font-weight: bold;
        text-decoration:var(--text-decoration);
        letter-spacing:2px;
        text-transform:var(--text-transform);
        border-radius: 80% 0 65% 20%;
    }
    .admin a:hover{
        border:none;
        background:rgb(4, 88, 2);
      }
.author-one-post{
  
    font-size: 12px;
    text-transform: var(--text-transform);
}